.shell-footer {
  align-items: center;
  background-color: $vdm-red;
  color: white;
  display: flex;
  font-size: 12px;
  line-height: 2;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;

  a {
    color: white;
    text-decoration: none;
  }

  .shell-social-media {
    background: $vdm-red;
    border-radius: 50%;
    fill: white;
    display: block;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 15px 0 15px;
    width: 30px;
  }
}

.shell-footer-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;

  @media (min-width: $sm) {
    max-width: $sm - 26px;
  }

  @media (min-width: $md) {
    flex-direction: row;
    max-width: $md - 48px;
  }

  @media (min-width: $lg) {
    max-width: $lg - 32px;
  }

  @media (min-width: $xl) {
    max-width: $xl - 60px;
  }

  .shell-footer-left,
  .shell-footer-center,
  .shell-footer-right {
    align-items: center;
    display: flex;
    flex: 0 0 33.33333%;
    justify-content: center;
    max-width: 33.33333%;

    @media (max-width: $md) {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  .shell-footer-left > * {
    display: block;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
