.shell-beta {
  background-color: black;

  .shell-beta-inner {
    align-items: center;
    display: flex;
    height: $beta-height;
    justify-content: center;
    padding: 0 30px;
    width: 100%;

    @media (min-width: $md) {
      justify-content: space-between;
    }
  }

  .shell-beta-inner-left {
    display: flex;
  }

  & > * {
    color: white;
  }
  
  a {
    color: white;
    text-decoration: underline;
  }

  .see-more {
    margin-left: 20px;
  }
}

.shell-header {
  border-bottom: 1px solid #CACACA;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;

  & > nav {
    align-items: center;
    background-color: white;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    position: relative;
  }

  .shell-header-logo {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
    img {
      width: 110px;

      @media (min-width: $md) {
        width: 150px;
      }
    }
  }

  .shell-header-icons {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;

    & > li {
      @media (min-width: $lg) {
        border-left: 1px solid #d5d5d5;
      }

      & > * {
        padding: 0 15px;
        height: $header-height;
      }

      & > button {
        align-items: center;
        appearance: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
      }

      & > a {
        color: black;
        display: block;
        font-size: 17px;
        line-height: $header-height;
        text-align: center;
        width: 60px;

        &:hover {
          text-decoration: none;
        }
      }

      .shell-header-search,
      .shell-header-account {
        height: 60px;
        fill: $vdm-red;
      }

      &:hover {
        svg {
          fill: black;
        }
      }
    }
  }

  .shell-header-dropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 0;

    .shell-header-dropdown-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      white-space: nowrap;
    }

    .shell-header-dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      border: 1px solid #d5d5d5;
      border-radius: 0;
      padding: 0;
      margin: 0;
      box-shadow: none;
      background-color: #f2f2f2;
      list-style-type: none;

      li {
        padding: 10px 15px;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: #f6f6f6;
        }

        &.divider {
          padding: 0;
          border-bottom: 1px solid #979797;
        }

        a {
          display: block;
          margin: -10px -15px;
          padding: 10px 15px;
          color: black;
          text-align: left;

          &:hover {
            color: $vdm-red;
          }
        }
      }
    }
  }
}

.shell-menu-button {
  appearance: none;
  background-color: $vdm-red;
  border: none;
  border-radius: 0;
  cursor: pointer;
  height: 60px;
  margin: 0;
  width: 67px;

  & > svg {
    fill: white;
    height: 60px;
    margin-left: -4px;
  }
}

.shell-quick-search {
  left: 0;
  opacity: 0;
  position: fixed;
  top: $beta-height + $header-height + 10px;
  transition: all 0.5s ease;
  visibility: hidden;
  width: 100%;

  &.shell-quick-search-active {
    opacity: 1;
    visibility: visible;
  }

  .shell-quick-search-inner {
    background-color: white;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    max-width: 1150px;
    padding: 15px 30px;
    width: 95%;
  }

  form {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    width: 100%;
  }
  
  .shell-quick-search-label-icon {
    fill: $vdm-brand;
    height: 60px;
    margin-left: -10px;
    margin-top: -10px;
  }

  label {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
    width: 100%;
  }

  input[type="search"] {
    height: 50px;
    border: 0;
    width: 100%;
    font-size: 20px;
    color: $black;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $vdm-brand;
      font-size: 20px;
    }
  }

  button {
    background-color: $vdm-brand;
    background-image: none;
    border-radius: $vdm-switch-border-radius;
    color: white;
    cursor: pointer;
    font-size: $vdm-font-size-smaller;
    height: $vdm-btn-small-height;
    margin-bottom: 8px;
    padding: $vdm-btn-padding-y $vdm-btn-padding-x;
    white-space: nowrap;
  }
}
