body.shell-menu-opened {
  overflow-x: hidden;

  .shell-menu {
    margin-left: 0;
  }

  .shell-header {
    left: $menu-width;
  }

  .shell-page {
    margin-left: $menu-width;
    margin-right: -$menu-width;
    overflow-x: hidden;
  }
}

html,
body,
.shell-menu,
.shell-menu > ul {
  height: 100%;
}

.shell-menu,
.shell-header,
.shell-page {
  transition: $menu-transition;
}

.shell-menu {
  background-color: black;
  display: flex;
  flex-shrink: 0;
  left: 0;
  margin-left: -$menu-width;
  min-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: $menu-width;
  
  & > ul {
    flex-shrink: 0;
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    transition: $menu-transition;
    width: $menu-width;
  }

  .shell-sub-menu-item {
    display: none;
    opacity: 0;
    z-index: -1;
  }

  .shell-next-menu {
    display: initial;
    opacity: 1;
    z-index: initial;
  }

  .shell-previous-menu {
    display: initial;
    margin-left: -$menu-width;
  }
}

.shell-menu-item {
  border-bottom: solid 2px $vdm-grey-dark;

  & > a,
  & > button {
    appearance: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    padding: 28px 16px;
    text-align: left;
    width: 100%;

    &:hover {
      color: $vdm-brand;
      text-decoration: none;
    }
  }

  svg {
    fill: $vdm-brand;
    height: 45px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
}

.shell-sub-menu-item > .shell-menu-item {
  padding-left: 45px;

  &.shell-menu-back,
  &.shell-menu-item-header {
    padding-left: initial;
  }
}


.shell-menu-back {
  background-color: $vdm-grey-dark;

  & > button {
    justify-content: flex-start;

    & > svg {
      margin-right: 10px;
      margin-top: -9px;
      margin-bottom: -10px;
    }
  }
}

.shell-menu-item-header {
  position: relative;

  &::before {
    background: $vdm-brand;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
  }
}

.shell-menu-mobile-search {
  border-bottom: 2px solid #222;

  form {
    padding: 10px;
  }

  .shell-menu-mobile-search-input-wrapper {
    align-items: center;
    display: flex;
    padding: 10px;
  }

  label {
    width: 100%;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 30px;
    height: 30px;
    margin-top: -10px;
    padding-left: 10px;

    svg {
      height: 30px;
      fill: white;
    }
  }
}
