body {
  display: flex;
  flex-direction: column;
}

.shell-page {
  padding-top: $header-height + $beta-height;
  position: relative;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.shell-content {
  flex: 1;
}

.shell-skip-to-content {
  background: $vdm-red;
  color: white;
  display: inline-block;
  left: 50%;
  margin-left: -100px;
  padding: 5px 15px;
  position: absolute;
  top: -50px;
  transition: all 0.5s ease;
  z-index: 99999999;

  &:focus {
    text-decoration: none;
    top: 0;
    transition: all 0.5s ease;
  }
}

.shell-page-error {
  margin-right: auto;
  margin-left: auto;
  padding: 20px 15px;
  width: 100%;

  h1 {
    font-size: 67px;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 92px;
    color: black;
  }

  h2 {
    margin-top: 50px;
    font-size: 37px;
    line-height: 45px;
    color: black;
    font-weight: bold;
  }

  .h3 {
    font-size: 37px;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 50px;
  }

  p {
    margin-top: 30px;
    font-size: 17px;
  }

  .shell-regular-link {
    color: $vdm-sarcelle;
    display: flex;
    align-items: center;

    .shell-underline {
      text-decoration: underline;
      vertical-align: super;
      padding-top: 8px;
    }
  }

  .shell-vdm-063-fleche-droite {
    height: 50px;
    fill: $vdm-sarcelle;
  }

  .shell-divider {
    height: 6px;
    width: 100%;
    background-color: black;
  }

  @media (min-width: $sm) {
    max-width: 540px;
  }

  @media (min-width: $md) {
    max-width: 720px;
  }

  @media (min-width: $lg) {
    max-width: 992px;
  }

  @media (min-width: $xl) {
    max-width: 1140px;
  }

  @media (max-width: $sm) {
    h1 {
      font-size: 30px;
      line-height: 50px;
      font-weight: bold;
    }

    .h3 {
      font-size: 23px;
      line-height: 40px;
      font-weight: bold;
    }
  }
}

