@import '~@villemontreal/boite-outils-web/scss/variables';

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$beta-height: 50px;
$header-height: 60px;
$menu-width: 300px;
$menu-transition: all 0.5s ease;
